@model List<CarViewModel>

<h1>مرحبا بكم في شركتنا </h1>
<br />

<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Log In </a>
<br />
<hr />



@if (Model.Any())
{
    <br />
    <table class="table table-hover">
        <tr>
            <th>Make Name</th>
            <th>Color Id</th>
            <th>Chassi Number</th>
            <th>Image</th>
            <th>PriceOnDay</th>
            <th>Created At</th>
        </tr>

        @foreach (var car in Model)
        {
            <tr>
                <th>@car.MakerName</th>
                <th>@car.ColorId</th>
                <th>@car.ChassiNumber</th>
                <th>
                    <img class="img-fluid" width="200" src="~/Images/@car.ImegUrl" />
                </th>
                <th>@car.PriceOnDay $</th>
               <th><a class="btn btn-primary" asp-controller="Lease" asp-action="Index">احجز الان </a></th>
            </tr>
        }
    </table>
}
else
{
    <div class="alert alert-warning">
        No Data in our database !
    </div>

}
